/* .main{
    background-color: bisque;
} */
.content{
    text-align: center;
    padding: 5rem;
    text-transform: capitalize;
    position: relative;
}
.content p{
font-size: 1.2rem;
color: #23b852;
line-height: 3;
}
.content h2{
font-size: 2.5rem;
font-weight: bolder;
color: white;
}


.linebefore {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #23b852;
}

.linebefore::before,
.linebefore::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40px; 
  height: 2px;
  background-color: #23b852;; 
}

.linebefore::before {
  left: -50px; 
}

.linebefore::after {
  right: -50px;
}




.boxes{
  width: 100%;
  display: flex;
  padding: 0px 3.5rem;
}



.box4{
  display: flex;
  width: 60%;
  flex-wrap: wrap;
 
}

.card{
  height: 16rem;
  width: 20rem;
  background-color:#16181d;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  padding: 1.5rem;
  text-align: center;
  }

  .card h2{
    color: #fff;
    line-height: 2.5;
}
.card h2:hover{
  color:#23b852;
  cursor:context-menu;

}
.card p{
  color: gray;
  line-height: 1.6;
  font-size: 18px;
}

.icon{
  transition: transform 0.2s ease;
  transform-origin: center center;
}
.icon:hover{
  animation: shrink-back-rotate 1s ease-in-out forwards;
}

@keyframes shrink-back-rotate {
  0% {
    transform: scale(1) translateZ(0) rotate(0deg);
  }
  50% {
    transform: scale(0.5) translateZ(-100px) rotateY(90deg);
  }
  100% {
    transform: scale(1) translateZ(0) rotateY(360deg);
  }
}
.box1{
  width: 40%;
  height: 33rem;
  background-color:#16181d;
  border-radius: 20px;
}




.shape{
  padding: 1.3rem 2.3rem;
  display: flex;

 
}

.shape h2{
  font-size: 2.2rem;
  width: 60%;
  color: #fff;
}
.shape h2:hover{
  color:#23b852;
  cursor:context-menu;
}


.para{
  font-size: 1.2rem;
  padding: 0 2rem;
  color: #fff;
  line-height: 1.5;
}
.para span{
  color: #23b852;
  
  }