.navbar {
    background-color: #0a0a0a;
    height: 5.3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 0 2rem;
}

.logo {
    color: white;
}

.ul {
    display: flex;
    font-size: 1.5rem;
    gap: 5rem;
    transition: max-height 0.3s ease;
}


.btn {
    display: block;
    background: linear-gradient(to bottom, #3ee63e, #25a425);
    color: white;
    border: none;
    padding: 16px 40px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
    font-size: 16px;
}

.btn:hover {
    background: linear-gradient(to right, #25a425, #3ee63e);
}

.ul li {
    list-style: none;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: #3ee63e;
}


.menuToggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}


.menuOpen {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 5.3rem;
    left: 0;
    background-color: rgba(10, 10, 10, 0.9);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}


.menuToggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}


.menuToggle span {
    font-size: 30px;
    display: inline-block;
    transition: transform 0.3s ease;
}




@media (max-width: 810px) {
    .ul {
        display: none;
    }

    .menuOpen {
        display: flex;
    }

    .menuToggle {
        display: block;
    }

    .btn {
        display: none;
    }

    .ul li {
        padding-left: 0;
        padding-bottom: 1rem;
    }
}