.navbar{
    background-color: #0a0a0a;
    height: 5.3rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   position: fixed;
   top: 0;
   z-index: 1000;
}

.logo{
   color: white;

}
.ul{
    display: flex;
 font-size: 1.5rem

}

.ul li{
list-style: none;
padding-left: 5rem;

}

.link{
    text-decoration: none;
    color: white;

}

.link:hover{
    color: #3ee63e;
}