.bg{
    background-image: url("../../public/hero/hero_bg_9_1.png");
    height: 40rem;
    width: 100%;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.5rem;
  
}

.text h1{
    color: #ffffff;
    font-size: 4.5rem;
    padding-right: 5rem;

}

.text p{
    color: #ffffff;
    font-size: 1.1rem;
    padding: 3rem 0px;
    line-height: 2;
    font-weight:500;
   
}
