.main{
    padding: 5rem 0;
}
.content{
    text-align: center;
    padding: 2rem;
    text-transform: capitalize;
    position: relative;
}
.content p{
font-size: 1.2rem;
color: #23b852;
line-height: 3;
}
.content h2{
font-size: 2.5rem;
font-weight: bolder;
color: white;
}

.content span{
    color: #23b852;
}

.linebefore {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #23b852;
  text-transform: uppercase;
}

.linebefore::before,
.linebefore::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40px; 
  height: 2px;
  background-color: #23b852;; 
}

.linebefore::before {
  left: -50px; 
}

.linebefore::after {
  right: -50px;
}




.projects{
display: flex;
justify-content: space-evenly;
align-items: center;
padding-top: 2rem;
padding-bottom: 5rem;

}

.img1{
    background-image: url('../../public/studies/project_6_1.jpg');
    height: 18rem;
    width: 22rem;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    transition: transform 0.5s ease;
}
.img1:hover{
    transform: scale(1.1);
}

.img2{
    background-image: url('../../public/studies/project_6_2.jpg');
    height: 18rem;
    width: 22rem;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    transition: transform 0.5s ease;
}
.img2:hover{
    transform: scale(1.1);
}
.img3{
    background-image: url('../../public/studies/project_6_3.jpg');
    height: 18rem;
    width: 22rem;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    transition: transform 0.5s ease;
}
.img3:hover{
    transform: scale(1.1);
}


.content2{
    text-align: center;
    text-transform: capitalize;
    position: relative;
}


  .btn{
    background: linear-gradient(to bottom, #3ee63e, #25a425);
    color: white;
    border: none;
    padding: 16px 40px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
    font-size: 16px;
  }
  
  .btn:hover {
      background: linear-gradient(to right, #25a425, #3ee63e); 
    }

  
  /* Responsive Adjustments */

@media (max-width: 1025px) {
  .main {
    padding: 3rem 0;
  }
  .content h2 {
    font-size: 2rem;
  }
  .projects {
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 3rem;
  }

  .img1,
  .img2,
  .img3 {
   width:25rem;
  }
  .linebefore2::before,
  .linebefore2::after {
 display: none;
  }
}

/* For screens up to 600px */
@media (max-width: 600px) {
  .content h2 {
    font-size: 1.8rem;
  }
  .content p {
    font-size: 1rem;
  }
  .projects {
    gap: 1.5rem;
    

    
  }
    
  
  .img1,
  .img2,
  .img3 {
   width:22rem;
  }

  .linebefore2::before,
  .linebefore2::after {
 display: none;
  }
}

/* For screens up to 400px */
@media (max-width: 400px) {
  .content h2 {
    font-size: 1.7rem;
  }
  .content p {
    font-size: 0.9rem;
  }


  .img1,
  .img2,
  .img3 {
   width:20.5rem;
  
  }

  .linebefore2::before,
  .linebefore2::after {
   display: none;
  }}