.footer {
    width: 100%;
    height: auto;
    background-color: #16181d;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    flex-wrap: wrap;
}

.text p {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    margin: 0;
}

.text span {
    color: #3b9f10;
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 35px;
    color: #fff;
    margin: 0 0.3rem;
    background-color: #2f3238fc;
    border-radius: 50%;
    padding: 0.5rem;
}

.icon:hover {
    background: linear-gradient(to bottom, #3ee63e, #25a425);
    cursor: pointer;
}

.link {
    text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .text {
        margin-bottom: 1rem;
        text-align: center;
    }

    .text p {
        font-size: 15px;
    }

    .icon {
        font-size: 30px;
        margin: 0 0.2rem;

    }
}

@media (max-width: 480px) {
    .footer {
        padding: 1rem;
    }

    .text p {
        font-size: 14px;
    }

    .icon {
        font-size: 25px;
    }
}