.container {
    display: flex;
    height: 80vh;
    color: #fff;
    margin: 4rem 5rem 0 5rem;
}

/* Image container */
.imageDiv {
    position: relative;
    flex: 0.8;
    height: 25rem;
}

.img {
    border-radius: 150px;
}

/* Text container */
.textDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

/* Circle for counter animation */
.circle {
    position: absolute;
    bottom: 2%;
    right: 5%;
    background-color: #08a91d;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: black;
    outline: 10px solid rgba(255, 255, 255, 0.8);
}

/* Counter text */
.counter {
    font-size: 2rem;
    font-weight: bold;
}

.years {
    font-size: 1rem;
    font-weight: 600;
}

/* Line style before headings */
.linebefore {
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: #1af037;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 3;
}

.linebefore::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 35px;
    height: 2px;
    background-color: #1af037;
}

/* Paragraph styling */
.para {
    color: gray;
    line-height: 1.5;
    padding-top: 2rem;
}

.h2 {
    font-size: 2.5rem;
    padding-top: 14px;
}

.span {
    color: #1af037;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin: 2rem;
        height: auto;
    }

    .imageDiv {
        height: 20rem;
        padding: 10rem;
    }

    .circle {
        width: 80px;
        height: 80px;
        bottom: 5%;
        right: 2%;
    }

    .counter {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .container {
        margin-top: 4rem;
    }

    .imageDiv {
        height: 18rem;
        padding: 8rem;
    }

    .img {
        border-radius: 30px;
    }
    .textDiv {
        padding: 1rem;
    }

    .circle {
        width: 70px;
        height: 70px;
        bottom: 2.5%;
        right: 3%;
    }

    .counter {
        font-size: 1.3rem;
    }

    .h2 {
        font-size: 1.8rem;
    }
}
